@charset "UTF-8";

/*Estilos para telas no modo retrato*/
body {
  background: url(../imagens/cev-portrait.jpg);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}
